.box {
  padding : 2px;
  display : inline-block;
  background-size: 100% 100% !important;
  background-size: cover;
  width:150px !important;
  height:220px !important;
  border: 1px solid red;
  margin-top:18px;


}

a:hover{
  opacity: 0.5;
}

.painel{
  margin-top:25px;
}

.linkAtivo {
  display:inline-block;
  width:99%;
  height:99%;
  color:white;
}

.rotulo{
  background-color: black;
  text-align:center;
  width:99%;
  display:block;
  padding: 5px;
}



